.range {

}

.doubleRangeValue{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.doubleRangeLine{
    margin: 8px 0 0 0;
    width: 200px;
    height: 5px;
}

.runner{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #11786f;
    top: -6px;
}

.doubleRange{
    position: relative;
}