li{
    position: relative;
    width: 80%;
    padding: 15px 0px;
    clear: both;
    list-style-type: none;
}
li.msgLeft{
    float: left;
}
li.msgLeft img{
    position: absolute;
    width: 40px;
    bottom: 15px;
}
li.msgLeft .msgDesc{
    margin-left: 70px;
    font-size: 12px;
    background: #E8E8E8;
    padding:5px 10px;
    border-radius: 5px 5px 5px 0px;
    position: relative;
}
li.msgLeft .msgDesc:before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: radial-gradient(circle at 0 0, transparent 15px, #E8E8E8 0);
    bottom: 0px;
    left: -15px;

}
li.msgLeft small{
    float: right;
    color: #c1c1c1;
}

.name{
    font-weight: bold;
}

hr{
    clear: both;
}